.page-container {
  padding: 32px;
  padding-top: 72px;
  max-width: 1300px;
  margin: auto;
}

.Home-page-search-container {
  background-color: rgb(43, 102, 106);
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 16px;
}

.Home-page-search-input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  width: 200px;
}

.Home-page-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button {
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: rgb(43, 102, 106);
  color: #ffffff;
  cursor: pointer;
  min-width: 80px;
  margin: 8px;
}

.page-button:hover {
  background-color: rgb(43, 102, 106);
  opacity: 0.8;
}

.page-button:disabled {
  background-color: rgb(114, 134, 135);
  opacity: 0.8;
  cursor: auto;
}
